/* I am a css file */

h1 {
    text-align: center;
    color:black;
    font-family: "Exo 2", sans-serif;
}

.font {
    font-family: "Exo 2", sans-serif;
}


.single{
    padding-top:3%
}

#imgL {
    margin-top: 5%;
    border: 2px solid black;
    padding:2%;
}

#mini{
    border: 2px solid black;    
    border-radius: 30px;
    padding-top:2%;
    padding-bottom:2%;
    background-color: rgb(17, 32, 32);
    margin-top:2%;
}