h1{
    text-align: left;
    color: black;
    font-size: 40px;
}

#pri{
    margin-left: 3%;
    margin-top: 3%;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

img {
    width: 500px;
}

#sTxt{
    flex:auto;
}

#sImg{
   max-width: 100%;
   height:auto;
}